

.body-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
    background-image: url('/static/images/admin-bg.jpg')!important;
    background-size: 100% 100%!important;
    filter: blur(10px);
}